.node-container {
    border: 2px solid #707070;
    border-radius: 5px;
    box-shadow: 1px 1px 7px #E2E4EB inset;
    font-size: 11px;
    padding: 10px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    height: 20px;
}

.node-container:hover {
    border: 3px solid #707070;
}

.node-container > span {
    font-weight: bold;
    width: 120px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: start;
}

.secondary {
    border: 2px solid #0063AE;
}

.secondary:hover {
    border: 3px solid #0063AE;
}