body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #707070;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #707070; 
  border-radius: 10px;
}
